body {
  background: pink;
  text-align: center;
  font-family: Arial;
}

h1 {
  color: red;
  font-size: 40px;
}

p {
  font-size: 20px;
}

button {
  padding: 12px 20px;
  font-size: 18px;
  background: red;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
