body {
  font-family: Arial;
  background: #fff0f5;
  text-align: center;
}

h1 {
  color: #d63384;
}

h2 {
  color: #444;
}

p {
  font-size: 18px;
}

ul {
  list-style: none;
}

li {
  font-size: 18px;
  margin: 5px;
}

hr {
  margin: 20px;
}
